*{
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  background-color: #384047;
}

h1 {
    color: #ddd;
    font-weight: normal;
    /*text-transform: uppercase;*/
}

#TimeL10N {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: auto;
}

#timelion-years {
  position: absolute;
  top: 0; bottom: 0;
  white-space: nowrap;
  pointer-events: none;
}
#timelion-years .year {
  display: inline-block;
  box-sizing: border-box;
  color: #fff;
  font-weight: 300;
  white-space: nowrap;
  box-sizing: border-box;
  height: 100%;
  border-left: 1px dashed rgba(255,255,255,.2);
}
#timelion-years .year:first-child {
  border-left: 0;
}
#timelion-years .year span {
  background: linear-gradient(to bottom, rgba(56,64,71,1) 30%,rgba(56,64,71,0) 100%);
  display: block;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
#timelion-years .year span i {
  opacity: .5;
  font-style: normal;
}

#hero {
  text-align: center;
  width: 100%;
}

/*canvas {
  display: block;
  cursor: none;
}*/


/*a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}*/


/*.no-pointer {
    pointer-events: none;
}*/


/*.no-userselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}*/
