*{
	margin: 0;
	padding: 0;
}

body{
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  background-color: #384047;
  color: #fff;
  cursor: default;
  font-family: Open Sans, Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
  user-select: none;
}

h1 {
    color: #ddd;
    font-weight: normal;
    /*text-transform: uppercase;*/
}

#hero {
  text-align: center;
  width: 100%;
}

/*canvas {
  display: block;
  cursor: none;
}*/


/*a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}*/


/*.no-pointer {
    pointer-events: none;
}*/


/*.no-userselect {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}*/
